@import "variables.less";

.buttons-holder-width(@number-buttons, @b-width) {
  width: @number-buttons * @b-width + (@number-buttons - 1) * @margin;
}

.buttons-holder(@number-buttons, @b-width: @button-width) {
  .buttons-holder {
    .buttons-holder-width(@number-buttons, @b-width);
    margin-left: auto;
    .button {
      width: @b-width;
    }
  }
}

.buttons-holder {
  height: @buttons-holder-height;
  display: flex;
  justify-content: space-between;
  .button {
    position: relative;
    background: @gray;
    display: inline-block;
    border-radius: 2px;
    width: @button-width;
    height: 100%;
    color: #000;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    &.button:not(:last-of-type) {
      margin-right: @margin;
    }
    &.button-focus {
      background: @blue;
      color: white;
    }
    &.disabled {
      opacity: 0.5;
      cursor: context-menu;
    }
    > div {
      line-height: 38px;
    }
  }
  &.disabled {
    .button {
      opacity: 0.5;
      cursor: context-menu;
    }
  }
  &:not(.disabled) {
    .button:not(.disabled):hover {
      background: @gray-hover;
      &.button-focus {
        background: @blue-hover;
      }
    }
  }
}