@import "variables.less";

@gray-input: #b5b6c0;

.group {
  position: relative;
  width: 315px;
  height: 35px;
  input {
    position: absolute;
    top: 0;
    padding: 0;
    margin-top: 13px;
    -webkit-appearance: none;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 22px;
    line-height: 28px;
    border: none;
    border-radius: 0;
    background-color: transparent;
    text-indent: 0;
    text-overflow: ellipsis;
    &:focus {
      outline: none;
    }
  }
  a {
    display: block;
    padding-top: 13px;
  }
  label {
    color: @gray-input;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 40%;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .bar {
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
    left: 0;
    bottom: 0;
  }
  &::before,
  &::after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: @blue;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  &::before {
    left: 50%;
  }
  &::after {
    right: 50%;
  }
  &.focus {
    label{
      top: 0;
      left: 0px;
      transform: scale(.75);
      transform-origin: left top;
      color: @blue;
    }
    &::before,
    &::after {
      width: 50%;
    }
  }
  &.used {
    label {
      top: 0;
      left: 0px;
      transform: scale(.75);
      transform-origin: left top;
      color: @blue;
    }
  }
  &.disabled {
    label {
      top: -4%;
      left: 0px;
      transform: scale(.75);
      transform-origin: left top;
      color: @gray-input !important;
    }
    input {
      color: @gray-input !important;
      cursor: not-allowed;
    }
    span {
      opacity: 1 !important;
    }
  }
  &.error {
    label {
      color: @red !important;    
    }
    &::before,
    &::after {
      background-color: @red !important;
    }
  }
}