#standings-table {
  margin-bottom: @margin;
  .header,
  .body .row {
    padding: 3px;
    .cell {
      flex: 0 1 calc(~'(100% - 200px) / 9');
      &.team-name {
        flex: 0 1 200px;
        justify-content: flex-start;
      }
    }
  }

  .body .row {
    background: none;
    &:first-of-type {
      background-color: rgba(0, 255, 0, 0.6);
    }
    &:nth-last-of-type(3) {
      background-color: rgba(255, 0, 0, 0.2);
    }
    &:nth-last-of-type(2) {
      background-color: rgba(255, 0, 0, 0.4);
    }
    &:last-of-type {
      background-color: rgba(255, 0, 0, 0.6);
    }
    .team-name {
      text-decoration: underline;
      cursor: pointer;
      img {
        max-width: 25px;
        margin-right: @margin;
      }
    }
  }
}