.team-view {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  .team-pic {
    height: 75px;
    width: 75px;
    margin-bottom: @margin;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 100%;
    }
  }
  .team-info {
    height: 75px;
    width: calc(~'100% - ' 75px + @margin);
    margin-bottom: @margin;
  }
  #players-table {
    flex: 0 1 100%;
    .header,
    .row {
      justify-content: flex-start;
      .cell {
        &.player-number {
          width: 50px;
        }
        &.player-pic {
          width: 50px;
        }
        &.player-position {
          width: 100px;
        }
        &.player-name {
          width: calc(~'100% - 450px');
        }
        &.player-nationality {
          width: 250px
        }
      }
    }
    .row {
      box-sizing: content-box;
      height: 50px;
      .player-pic {
        padding: 3px;
        img {
          width: 100%;
        }
      }
      .player-name {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}