#topscorers-manager-container {
  display: flex;
  justify-content: space-between;
  > div {
    width: calc(~'50% -' @margin / 2);
    #topgoalscorers-table,
    #topassistscorers-table {
      width: 100%;
      .header,
      .body .row {
        height: 50px;
        .cell {
          &.position {
            width: 75px;
          }
          &.player-pic {
            width: 50px;
          }
          &.player-name {
            width: calc(~'100% - 425px');
          }
          &.player-team {
            width: 40px;
          }
          &.player-score {
            width: 100px;
          }
        }
      }
      .body .row {
        .player-pic,
        .player-team {
          padding: 3px;
          img {
            width: 100%;
          }
        }
        .player-name {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}