@blue: #4285f4;
@blue-hover: #3a76e5;
@gray: #eee;
@gray-hover: #e6dfdf;
@red: #d3531a;
@green: #19bd9b;

@margin: 10px;
@border: solid 1px #ccc;

@buttons-holder-height: 38px;
@button-width: 168px;

@tab-width: 115px;