@import (css) "../node_modules/jquery-ui-dist/jquery-ui.css";
@import (css) "../node_modules/font-awesome/css/font-awesome.css";
@import "less/variables.less";
@import "less/buttons.less";
@import "less/inputs.less";
@import "less/seasonManager.less";
@import "less/standingManager.less";
@import "less/teamInfo.less";
@import "less/playerInfo.less";
@import "less/topScorerManager.less";

body {
  display: block;
  * {
    box-sizing: border-box;
  }
  #nprogress {
    position: fixed;
    top: 0;
    left: 0;
    height: 3px;
    width: 100%;
    z-index: 1000;
    .bar {
      height: 100%;
      background: @blue;
      &.success {
        background: @green;
      }
      &.error {
        background: @red;
      }
    }
  }
  .hidden {
    display: none !important;
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    .modal-window {
      background-color: white;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      padding: @margin;
      max-width: 60vw;
      max-height: 75vh;
      .content {
        max-height: calc(~'75vh - ' @buttons-holder-height + @margin);
        margin-bottom: @margin;
        overflow: auto;
      }
      .buttons-holder {
        justify-content: flex-end;
      }
    }
  }
  ul.ui-menu {
    max-height: 50vh;
  }
  .table {
    border-left: solid 1px black;
    border-right: solid 1px black;
    .header,
    .body .row {
      display: flex;
      justify-content: space-between;
      width: 100%;
      border-top: solid 1px black;
      &:last-of-type {
        border-bottom: solid 1px black;
      }
      .cell {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        &.sortable {
          span {
            text-decoration: underline;
            cursor: pointer;
          }
          .fa {
            margin-left: 5px;
          }
        }
      }
    }

    .header {
      background-color: #ccc;
    }

    .body .row {
      &:nth-child(2n+1) {
        background-color: #eee;
      }
    }
  }
}